<section id="inicio">
<div class="wrapper">
  <div class="image-wrapper">
  <img src="https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1583&q=80" /></div>
  <div class="header-wrapper">
    <h1>Um Novo Conceito</h1>
    <h1>De como se ver arte</h1>
  </div>
</div>

<div class="wrapper">
  <div class="image-wrapper">
  <img class="book-design-image" src="https://images.unsplash.com/photo-1561214115-f2f134cc4912?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1306&q=80" /></div>
  <div class="header-wrapper">
    <h1>Uma Nova</h1>
    <h1>Experiencia</h1>
  </div>
</div>

</section>

<!-- Parte do Sobre da pagina-->
<section id="sobre">
  <div class="sobre">
    <div class="texto-sobre">
      <h1 class="title-top">Lumen Museum</h1>
      <p>O Lumen Museum é um espaço dedicado à arte contemporânea,<br>
         Onde a luz e a sombra se encontram para criar experiências únicas.<br></p>
      <p>Com exposições interativas e instalações imersivas,<br>
         O museu convida os visitantes a explorar a relação entre luz e espaço.<br></p>
    </div>
    <div class="imagem-sobre">
      <img src="https://img.freepik.com/vetores-premium/a-noite-estrelada-baseado-na-pintura-de-vincent-van-gogh_622487-1387.jpg?w=1060"
           alt="Imagem do Museu Lumen">
    </div>
  </div>
</section>
