<section id="inicio" style="height:100vh; padding-top:80px;">
    
  
Início</section>

<section id="sobre" style="height:100vh; padding-top:80px;">
    <div>
        <h1 class="title-top">Lumen Museum</h1>
        <div class="texto-sobre">
        <p>O Lumen Museum é um espaço dedicado à arte contemporânea,<br>Onde a luz e a sombra se encontram para criar experiências únicas.<br></p>
        <p>Com exposições interativas e instalações imersivas,<br>O museu convida os visitantes a explorar a relação entre luz e espaço.<br></p>
        </div>
        <div class="imagem-sobre">
            <img src="" alt="Imagem do Museu Lumen">
        </div>
    </div>
    Sobre</section>

<section id="Galeria" style="height:100vh; padding-top:80px;">Galeria</section>
<section id="Localização" style="height:10vh; padding-top:30px;">
    <!-- From Uiverse.io by Amine-maker --> 
<div id="app">
    <div class="reference relative">
      <p class="main-title">
        Localização
        <span style="font-style: italic; color: #226630" class="hover-card"
          >João Pessoa</span
        >, Brasil
      </p>
      <div class="card absolute hidden">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="relative inner-card">
          <div class="bg-map"></div>
          <div class="location absolute"></div>
          <div class="elements">
            <div class="description relative">
              <div class="blur-item absolute"></div>
              <span class="main-title">João Pessoa</span>
              <p class="second-title">Brasil</p>
            </div>
            <div class="details">
              <div class="peoples">
                <div class="people"></div>
                <div class="people"></div>
                <div class="people"></div>
              </div>
              <div class="action"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <section id="contato" style="height:60vh; padding-top:80px;">
        
        <div class="contato-wrapper">
          <div class="contato">
            <h1>Contato</h1>
            <p>Entre em contato conosco para mais informações.</p>
            <form>
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" required>
      
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
      
              <label for="message">Mensagem:</label>
              <textarea id="message" name="message" required></textarea>
      
              <button type="submit">Enviar</button>
            </form>
          </div>
          <div class="contato-info">
            <h3>Informações de Contato</h3>
            <p>Telefone: (11) 1234-5678</p>
            <p>Celular: (11) 1234-5678</p>
          </div> 
        </div>   
      </section>
      

